
<div class="parent"> 
   
    <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
        <div class="form-container sign-up" >
            <form [formGroup]="signupForm">
                <h1>Create Account</h1>
                
                <span></span>
                <input type="text" formControlName="username" name="username" placeholder="UserName">

                <div *ngIf="f['username'].touched && f['username'].invalid" class="alert">
                <div *ngIf="f['username'].errors && f['username'].errors['required']">UserName is required.</div>
                </div>
                                   
                                   
                <input type="email" formControlName="email" name="email" placeholder="Email">
                <div *ngIf="f['email'].touched && f['email'].invalid" class="alert">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                    </div>
                <input type="password" formControlName="password" name="password"  placeholder="Password">
                <div *ngIf="f['password'].touched && f['password'].invalid" class="alert">
                    <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
                    </div>
                <select name="role" placeholder="Role" formControlName="role">
                    <option value="" disabled selected>Select your role</option>
                    <option value="ROLE_ADMIN">Project Manager</option>
                    <option value="ROLE_EMPLOYEE">Employee</option>
                  </select>
                  <div *ngIf="f['role'].touched && f['role'].invalid" class="alert">
                    <div *ngIf="f['role'].errors && f['role'].errors['required']">Role is required.</div>
                    </div>
                  
                <button (click)="onRegister()">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in" >
            <form [formGroup]="signinForm">
                <h1>Sign In</h1>
               
                <span></span>
                <input type="text" formControlName="username" name="username" placeholder="UserName">

                <div *ngIf="f2['username'].touched && f2['username'].invalid" class="alert">
                <div *ngIf="f2['username'].errors && f2['username'].errors['required']">UserName is required.</div>
                </div>

                <input type="password" formControlName="password" name="password"  placeholder="Password">
                <div *ngIf="f2['password'].touched && f2['password'].invalid" class="alert">
                    <div *ngIf="f2['password'].errors && f2['password'].errors['required']">Password is required.</div>
                    </div>
                
                <button (click)="onLogin()">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button type="button" class="btnLog" id="login" (click)="isSignDivVisiable = false">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Welcome</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button type="button" class="btnLog" id="register" (click)="isSignDivVisiable = true">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
