.project-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .projectComp {
    display: flex;
    width: 100%;
    background-color: rgb(241, 246, 246);
  }
  
  .project-header-container {
    width: 90%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10; /* Ensure the header stays on top of other content */
  }
  
  .project-header {
    width: 100%;
  }
  
  .project-main-content {
    flex: 1;
    padding: 20px;
  }
  
  .project-footer {
    width: 100%;
    bottom: 0;
    left: 0;
  }
  


  .project-container {
    display: flex;
    flex-direction: column;
  }
  
  .project-comp {
    display: flex;
    flex-direction: column;
  }
  
  .project-header {
    flex: none;
  }
  
  .project-main-content {
    flex: 1;
    padding: 16px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: box-shadow 0.3s;
  }
  
  .project-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  
  