.profil-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.profil-header-container {
  width: 100%; /* Utilise la largeur complète */
  z-index: 10; /* Assure que le header reste au-dessus des autres contenus */
}

.profil-header {
  width: 100%;
}


.main-content {
  flex: 1;
  overflow-x: hidden; 
}




.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ajustez les valeurs selon vos besoins */
}

/* Masquer l'icône de visibilité par défaut dans les navigateurs qui l'affichent */
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-search-clear-button,
input[type="password"]::-webkit-search-decoration,
input[type="password"]::-webkit-search-results-button,
input[type="password"]::-webkit-search-results-decoration {
  display: none;
}



