<div class="task-container">
    <div class="task-comp">

      <app-side-bar></app-side-bar>
        <div class="task-header border-b border-gray-300 dark:border-gray-700">
          <app-header></app-header>
        </div>
 
    </div>

    <div class="task-main-content">
      

<div class="max-w-sm pl-3 pb-3 cursor-pointer bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  
</div>

    </div>
  </div>
  <div class="task-footer">
    <app-footer></app-footer>
  </div>
  